<!--
fileName : bottom_nav.ejs,
Student  : Afzal Shaikh,
Student ID : 301184760
Created on : 02/10/2021,
-->

<!-- JS scripting -->
  <script src="/scripts/app.js" ></script>
  <script src="/jquery/dist/jquery.min.js" ></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js" ></script>
</body>
</html>