<!--
fileName : home.ejs,
Student  : Afzal Shaikh,
Student ID : 301184760
Created on : 02/10/2021,
-->

<!-- home page -->

<main class="container p-5 pt-3">
  
      <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <!-- Text section -->
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Afzal's little corner on the internet</h1>
        <p class="lead">I provide smart solution apps for your smart phones.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/about" type="button" class="btn btn-primary btn-lg px-4 me-md-2">About me</a>
          <a href="/contact" type="button" class="btn btn-outline-secondary btn-lg px-4">Contact</a>
        </div>
      </div>
        <!-- image -->
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/home.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>



  
</main>