<!--
fileName : services.ejs,
Student  : Afzal Shaikh,
Student ID : 301184760
Created on : 02/10/2021,
-->

<main class="container p-5 pt-3">
    

    <div class="container px-4 py-5" id="hanging-icons">
    <div class="p-5 mb-3 home-wrapper">
        <h1 class="display-4 text-center fw-bold">Services<br> 
    </div>
        <!-- development process image -->
        <div class="overflow-hidden" style="max-height: 50vh;">
      <div class="container px-5">
        <img src="assets/images/services.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="smart phone image" width="100%" height="500" loading="lazy" class="img-fluid" >
      </div>
    </div>


    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <i class="fas fa-pencil-alt fa-2x"></i>
        </div>
        <!-- Design -->
        <div>
          <h2>Design</h2>
          <p>Design the app you want and need. Creating the UI and UX your users would love till death (not literally)</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
         <i class="fas fa-code fa-2x"></i>
        </div>

         <!-- Develop -->
        <div>
          <h2>Develop</h2>
          <p>I'll develop the app you dreamt of, it will feel like a dream but will be real (unless you dream of flying, i can't do that)</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <i class="fas fa-tasks fa-2x"></i>
        </div>

         <!-- Consult -->
        <div>
          <h2>Consult</h2>
          <p>Do you need an app ?  you think you do ? or you really do? let's answer all your questions and build something awesome</p>
        </div>
      </div>
    </div>
  </div>

 


</main>