<main class="container p-3 pt-3">
    <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/images/index.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">About Me</h1>
        <p class="lead">I am mobile developer with 2 yrs of experience in ios development as well as cross-platform with React-Native. I also dabble with other web technologies like Js, Python , React etc. Otherwise i play chess or sketch when i am not infront of a computer </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="assets/docs/Resume.pdf" type="button" class="btn btn-primary btn-lg px-4 me-md-2"  target="_blank">Resume</a>
        </div>
      </div>
    </div>
  </div>
</main>