<!--
fileName : contact.ejs,
Student  : Afzal Shaikh,
Student ID : 301184760
Created on : 02/10/2021,
-->

<main class="container p-5 pt-3">
    <div class="p-5 mb-3 home-wrapper">
        <h1 class="display-4 text-center fw-bold">Contact Me<br></h1>
         <h4 class="display-4 text-center fw-bold">Email : shaikhafzal9900@gmail.com<br></h4>
            <!-- Panel with contact information-->

<!-- Twitter -->
<a class="btn btn-primary" style="background-color: #55acee;" href="https://twitter.com/Afzal_idk" role="button"
  ><i class="fab fa-twitter"></i
></a>


<!-- Linkedin -->
<a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/theflyingpenguin/" role="button"
  ><i class="fab fa-linkedin-in"></i
></a>

<!-- Github -->
<a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/Afzal-shaikh" role="button"
  ><i class="fab fa-github"></i
></a> 

<!-- Dev.to link -->
<a class="btn btn-primary" style="background-color: #333333;" href="https://dev.to/aflying_penguin" role="button"
  ><i class="fab fa-dev"></i
></a> <br>


    </div>

    


 <!-- Contact form -->
    <form class = "mb-5">
    <!-- First Name -->
     <div class="form-group mb-2">
    <label for="contactFirstName">First Name</label>
    <input type="text" class="form-control" id="contactFirstName" aria-describedby="contactFirstName" placeholder="First Name">
  </div>

    <!-- Last Name -->
     <div class="form-group mb-2">
    <label for="contactLastName">Last Name</label>
    <input type="text" class="form-control" id="contactLastName" aria-describedby="contactLastName" placeholder="Last Name">
  </div>

  <!-- Contact No. -->
     <div class="form-group mb-2">
    <label for="contactLastName">Contact No.</label>
    <input type="text" class="form-control" id="contactLastName" aria-describedby="contactLastName" placeholder="Contact No.">
  </div>

    <!-- Email -->
  <div class="form-group mb-2">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

<!-- Message -->
  <div class="form-group mb-2">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  
  <!-- Submit -->
  
  <a href="/home" class = "btn btn-primary">  
  Submit 
     </a>
</form>
</main>