<!--
fileName : projects.ejs,
Student  : Afzal Shaikh,
Student ID : 301184760
Created on : 02/10/2021,
-->


<!-- Projects page -->
<main class="container p-5 pt-3">
    <div class="p-5 mb-3 home-wrapper">
        <h1 class="display-4 text-center fw-bold">Projects<br> 
    </div>
<div class = "mb-5 projects-container" >
    <div class="card" style="width: 18rem;   margin: 5px;">
  <img src="assets/images/project1.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Online Store app</h5>
    <p class="card-text">An app to buy home appliances - developed solely by me as the primary developer.</p>
  </div>
</div>

 <div class="card" style="width: 18rem; margin: 5px;">
  <img src="assets/images/project2.webp" class="card-img-top alt="...">
  <div class="card-body">
    <h5 class="card-title">Video App</h5>
    <p class="card-text">An app to share short video clips and media - sole developer on this</p>
  </div>
</div>

 <div class="card" style="width: 18rem;   margin: 5px;">
  <img src="assets/images/project3.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">MedRem</h5>
    <p class="card-text">An app to remind about paitent's medication - personal project - ongoing devleopment.</p>
  </div>
</div>

</div>
</main>