<main class="container p-5 pt-3">
    <div class="p-5 mb-3 home-wrapper">
        <h1 class="display-4 text-center fw-bold">Projects<br> 
    </div>
<div class = "mb-5 projects-container" >
    <div class="card" style="width: 18rem;   margin: 5px;">
  <img src="https://images.unsplash.com/photo-1601972602237-8c79241e468b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Online Store app</h5>
    <p class="card-text">An app to buy home appliances - developed solely by me as the primary developer.</p>
  </div>
</div>

 <div class="card" style="width: 18rem; margin: 5px;">
  <img src="https://images.unsplash.com/photo-1603015269169-225cb700e29a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80" class="card-img-top alt="...">
  <div class="card-body">
    <h5 class="card-title">Video App</h5>
    <p class="card-text">An app to share short video clips and media - sole developer on this</p>
  </div>
</div>

 <div class="card" style="width: 18rem;   margin: 5px;">
  <img src="https://images.unsplash.com/photo-1551721434-8b94ddff0e6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">MedRem</h5>
    <p class="card-text">An app to remind about paitent's medication - personal project - ongoing devleopment.</p>
  </div>
</div>

</div>
</main>