
/* <!--
fileName : app.css,
Student  : Afzal Shaikh,
Student ID : 301184760
Created on : 02/10/2021,
--> */


/* Custom css here */


/* body {
  height: 100%;
  background-color: #000000;
  background-color: #000000;
  background-image: url("https://afzal-shaikh.github.io/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: 0 0;
  background-size: cover;
} */

/* Projects page */
.projects-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-img-top{
  height : 20rem ; width: 100%;    object-fit: cover
}


/*Projects page  Responsive  */
@media (max-width: 800px) {
  .projects-container{
    flex-direction: column;
  }
}






